@page
@model Online_Pizzeria.Pages.Admin.AdminModel
@{
}

<h1 class="center" id="Center"> Control Center </h1>
<div class="center" style="width:175px">
<ul class="nav">
  <li><a class="unselectable" asp-page="/Admin/Admin" asp-route-view="Pizzas">Pizzas</a></li>
  <li><a class="unselectable" asp-page="/Admin/Admin" asp-route-view="Orders">Orders</a></li>
</ul>
</div>

<table class="table supportBack" style="width:900px">
    <thead>
        @{
            if(Model.IsOrders)
            {
                <tr>
                <th>Id</th>
                <th>PizzaId</th>
                <th>Price</th>
                <th>Status</th>
                <th>Ordered</th>
                <th>Delivered</th>
                </tr>
                foreach (var row in Model.PizzaOrders) 
                {  
                    <tr>
                        <th>@row.Id</th>
                        @if (@row.PizzaId == null) {
                            <th>Custom Pizza</th>
                        }
                        else{
                            <th>@row.PizzaId</th>
                        }     
                        <th>@row.Price</th>
                        <th>@row.StatusCode</th>
                        <th>@row.Ordered</th>
                        <th>@row.Delivered</th>
                    </tr>
                }
            }
            else
            {
                <tr>
                <th>Id</th>
                <th>Name</th>
                <th>BasePrice</th>
                <th>Ingredients</th>
                </tr>  
            }
        }
    </thead>
</table>
<p id="test"></p>

<script>

  window.onload = () => {


        document.getElementById("test").innerHTML = Model.PizzaOrders[0].Id
    }

</script>