@page
@model Online_Pizzeria.Pages.Admin.AdminModel
@{
}


<div class="center supportBack controlCenter">
    <h5 class="center controlCenterText" id="Center"> Control Center </h5>
    <ul class="nav">
      <li><a class="unselectable" asp-page="/Admin/Admin" asp-route-view="Pizzas">Pizzas</a></li>
      <li><a class="unselectable" asp-page="/Admin/Admin" asp-route-view="Orders">Orders</a></li>
    </ul>
</div>
<br />
<table class="table supportBack" style="width:900px;">    
        @{
            if(Model.IsOrders)
            {
                <thead>
                <tr>
                <th>Id</th>
                <th>PizzaId</th>
                <th>Price</th>
                <th>Status</th>
                <th>Ordered</th>
                <th>Delivered</th>
                </tr>              
                </thead>

                <tbody>
                @foreach (var row in Model.PizzaOrders) 
                {                       
                    <tr>
                    <th>@row.Id</th>

                    @if (@row.PizzaId == null) 
                    {
                        <th>Custom Pizza</th>
                    }
                    else
                    {    
                        <th>@row.PizzaId</th>
                    }     
                    <th>@row.Price</th>
                    <th>@row.StatusCode</th>
                    <th>@row.Ordered</th>
                    <th>@row.Delivered</th>
                    </tr>                            
                }
                </tbody>
            }
            else
            {
                <thead>
                <tr>
                <th>Id</th>
                <th>Name</th>
                <th>BasePrice</th>
                <th>Ingredients</th>
                </tr>  
                </thead>

                <tbody>
              
                    @foreach (var row in Model.Pizzas) 
                    {             
                        <tr>
                            <th>@row.Id</th>    
                            <th>@row.Name</th>
                            <th>@row.BasePrice</th>
                            <th>@row.Ingredients</th>
                        </tr>
                    }
                    <tr>
                        <th></th>    
                        <th id="AddNew">Add New Pizza</th>
                        <th></th>
                        <th></th>
                    </tr>  
                </tbody>

            }
        }
    
</table>

<div id="partialModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Pizza Details Form</h5>
                <button type="button" id="dismiss" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form align="center" method="post">
                    <input id="name" type="text" placeholder="Enter Pizza Name" style="text-align:center" asp-for="CreatePizza.Name"/>
                    <br />
                    <input id="price" type="text" placeholder="Enter Pizza Price" style="text-align:center" asp-for="CreatePizza.BasePrice"/>
                    <br />

                    @{
                        var number = 0;
                        foreach (var IngredientName in Enum.GetNames(typeof(Online_Pizzeria.Models.Ingredient)))
                        {
                            <input id="@number" type="checkbox" style="margin: auto; text-align:center" placeholder="@IngredientName"/> @IngredientName
                            <br />
                            number++;
                        }
                        <input id="ingredientsList" hidden="true" type="text" asp-for="CreatePizza.Ingredients" />
                    }         
                    <br />
                    <button class="btn btn-primary mt-1 centerButton" style="margin: auto;" type="submit">Add</button>   
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    document.getElementById("AddNew").addEventListener("click", Show)
    document.getElementById("dismiss").addEventListener("click", Hide)

    function Show() {
        $("#partialModal").modal('show');
    }
    function Hide() {
        $("#partialModal").modal('hide');
    }
    
    let ingredientsListEl = document.getElementById("ingredientsList")
    
    window.onload = () => {
        let id = 0
        while (document.getElementById(id) !== null) 
        {
            document.getElementById(id).addEventListener("click", MergeIngredients)      
            id++
        }
    }

    function MergeIngredients() {
        let ingredients = []
        let id = 0;
        while (document.getElementById(id) !== null) 
        {
            let element = document.getElementById(id) 
            if (element.checked) 
            {
                ingredients.push(element.placeholder)
            }
            id++
        }
        ingredientsListEl.value = ingredients       
    }

</script>