@page
@model Online_Pizzeria.Pages.Checkout.CheckoutModel

@{
    var imagePath = "/images/AllPizzas/" + @Model.UserPizza.ImageName + ".png";
}

<div class="boxCheckout">
    <h5 class="center">Please, check your Order</h5>
    <br />
    <p class="center m-0">Pizza Name: @Model.UserPizza.Name</p>
    <p class="center m-0">Pizza Price: @Model.UserPizza.BasePrice</p>
    <p class="center m-0">Pizza Ingredients: @Model.UserPizza.Ingredients</p>
    <div class="center">
        <a id="approveButton" class="btn buttonCheckoutDone">Checkout</a>
        <a id="cancelButton" class="btn buttonCheckoutCancel">Cancel</a>
        <form method="post"></form>
    </div>
</div>

<div class="center">
    <img src="@imagePath" class="finalImage m-2" title="@Model.UserPizza.Name">

</div>


<script>
    window.onload = () => {
        document.getElementById("approveButton").addEventListener("click", sendNewOrder)
        document.getElementById("cancelButton").addEventListener("click", sendUserBack)
    }

    function sendNewOrder() {
        $.ajax({
            type: 'POST',
            url: "Checkout",
            headers: {
                RequestName: "SendNewOrderRequest",
                PizzaName: @Json.Serialize(Model.UserPizza.Name),
                Ingredients: @Json.Serialize(Model.UserPizza.Ingredients),
                RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
            },
            success: function() {
                $(window).attr('location', `ThankYou`)
            },
            error: function() {
                $(window).attr('location', `/Pizza`)
            }
        })
    }

    function sendUserBack() {
        $(window).attr('location', `/Pizza`)
    }

</script>

