@page
@model Online_Pizzeria.Pages.Admin.PartialViews._PizzasTableModel
@{
    Layout = "";
}
<table class="table supportBack" style="width:900px;">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>BasePrice</th>
            <th>Ingredients</th>
            <th></th>
        </tr>
    </thead>

    <tbody class="tableMain">
        @foreach (var row in Model.Pizzas)
        {
            var ingr = row.Ingredients.Length > 40 ? row.Ingredients.Substring(0, row.Ingredients.Substring(0, 40).LastIndexOf(",")) + " ..." : row.Ingredients;
            <tr>
                <th>@row.Id</th>
                <th>@row.Name</th>
                <th>@row.BasePrice</th>
                <th>@ingr</th>
                <th><p id="@row.Id" class="editOrderButton unselectable">Edit</p></th>
            </tr>
        }
        <tr>
            <th></th>
            <th id="addNewPizzaButton" class="unselectable">Add New Pizza</th>
            <th></th>
            <th></th>
        </tr>
    </tbody>
</table>


<div id="modalCreatePizza" class="modal" tabindex="-1" role="dialog">
    <form method="post"></form>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title center">Add Pizza</h5>
                <button type="button" id="dismissCreatePizza" class="close" aria-label="Close">
                    <span aria-hidden="true" class="unselectable closeSymbol">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align:center">
                <input id="createPizza_name" type="text" placeholder="Enter Pizza Name" class="center inputPizza" />
                <br />
                <input id="createPizza_price" type="text" placeholder="Enter Pizza Price" class="center inputPizza" style="margin: 0px 0px 20px 0px"  />
                <br />
                @{
                    foreach (var IngredientName in Model.Ingedients)
                    {
                        <div class="row" style="margin: 0px 0px 0px 170px">
                            <div class="col-2"><input type="checkbox" class="ingredientCheckboxCreate" placeholder="@IngredientName" /></div>
                            <div class="col-5"><p style="text-align:left">@IngredientName</p></div>
                        </div>
                    }
                }
            </div>
            <div class="modal-footer">
                <button id="createPizza_Button" class="btn btn-primary mt-1 centerButton" style="margin: auto;  width: 100px;" type="submit">Add</button>
            </div>
        </div>
    </div>
</div>

<div id="modalEditPizza" class="modal" tabindex="-1" role="dialog">
    <form method="post"></form>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title center">Edit Pizza</h5>
                <button type="button" id="dismissEditPizza" class="close" aria-label="Close">
                    <span aria-hidden="true" class="unselectable closeSymbol">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align:center">
                <p id="editPizza_Id" hidden=true></p>
                <input id="editPizza_name" type="text" placeholder="Enter Pizza Name" class="center inputPizza" />
                <br />
                <input id="editPizza_price" type="text" placeholder="Enter Pizza Price" class="center inputPizza" style="margin: 0px 0px 20px 0px" />
                <br />
                @{
                    foreach (var IngredientName in Model.Ingedients)
                    {
                        <div class="row" style="margin: 0px 0px 0px 170px">
                            <div class="col-2"><input type="checkbox" class="ingredientCheckboxEdit" placeholder="@IngredientName" /></div>
                            <div class="col-5"><p style="text-align:left">@IngredientName</p></div>
                        </div>
                    }
                }

            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-4"> <button id="editPizza_Button" class="btn btn-primary editPizzaButton" type="submit">Save</button></div>
                    <div class="col-5"> <button id="deletePizza_Button" class="btn btn-primary editPizzaButton" type="submit">Delete</button></div>
                </div>
            </div>
        </div>
    </div>
</div>